html{
	margin: auto;
	font-family: verdana, sans-serif;
    background-color: #2E2E2E;
    color: white;
}

#titulo{
	text-shadow:2px 2px #2E9AFE;
}




#div-login-button{
	float: right;
	position: fixed;
	right: 10%;
	font-size:120%;
    color: white;
    transition: color 1s;

}

#div-login-button:hover {
    color: #2E9AFE;
}

#coin-slider{

    width: 800px;
    height:400px;
    margin: auto;
    border: 8px solid #848484; 
    box-shadow: 10px 10px 5px #1C1C1C;
    transition: border-color 1s;

}

#coin-slider:hover {
    border-color: #2E9AFE;
}

#friends {
	width: 125px;
	height:	50px;
	font-weight:bold;
	text-align: center;
	line-height: 50px;
	border-radius:7px;
	
	background-color: #2E9AFE;
	border: 4px solid #2E9AFE;
	position: absolute;
}


.coin-slider { overflow: hidden; zoom: 1; position: relative;   }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 545px; padding: 10px; background-color: #000000; color: #FFFFFF; }

.cs-prev, 
.cs-next { background-color: #000000; color: #FFFFFF; padding: 0px 10px; }
