/*** Primary Style Sheet for Theme ***/
body {
	margin: 0;
	padding: 0;
	background: #222 url("/images/bottom-bg-glow.gif") repeat-y 30% 0;
	font: normal 13px/1.5 Arial, Helvetica, Garuda, sans-serif;
	color: #000;
}

.user-menu-current{
	background-color: rgba(0,0,199,0.3); /* Color de fondo sobre el boton */
}

#top-content ul li {  
     display: inline;
     padding: 2% 2%; /*Separar el texto*/ 
 }  
 
 #top-content ul li:hover { 
     background-color: rgba(0,0,0,0.2); /* Color de fondo sobre el boton */
     cursor: pointer; /* cambiar el aspecto del puntero */
 } 

.game{
	width: 70%;
	margin:auto;
}

canvas {
	margin:auto;
}

.login-buttons-dropdown-align-right{
		float:right;
}

#login-buttons{
	margin: 2%;
}
/**** Link Styles ****/
a:link,a:visited {
	color: #2FA694;
	text-decoration: underline;
}

a:hover,a:active {
	color: #444;
}

/* main menu */
#header .main-menu a:link,#header .main-menu a:visited {
	color: #000;
	text-decoration: none;
}

#header .main-menu li li a:link,#header .main-menu li li a:visited {
	color: #999;
	text-decoration: none;
} 

/* scroll to top ^ */
a.scroll-top {
	float: right;
	margin-top: 2px;
	padding: 5px 4px 4px 8px;
	color: #999;
	text-transform: uppercase;
	text-decoration: none;
	font: bold 70% Verdana, Arial, Helvetica, Garuda, sans-serif;
	border: 1px dotted #D6D6D6;
	background-color: #f6f6f6;
	border-bottom: 0;
}

/**** Text Styles ****/

/* blockquote, code and pre */
blockquote {
	margin: 0 0 18px 4px;
	padding: 0 16px;
	font-style: italic;
	border-left: 5px solid #C6C6C6;
}

code,pre {
	font: normal 13px/18px Consolas, "Courier New", Courier, monospace;
	background: #F0EEF9 url("../images/pre-bg.gif") repeat 0 0;
	padding: 18px 5px;
	border: 1px dotted #C6C6C6;
	color: #333;
}

code {
	padding: 1px 3px;
	background-image: none;
}

/* UL and OL lists */
#page-content ul,#page-content ol {
	margin: 0 0 20px 5px;
}

#page-content ol {
	padding-left: 2em;
}

#page-content ul ul,#page-content ol ol,#page-content ul ol,#page-content ol ul
	{
	margin-top: 8px;
}

#page-content ul li,#page-content ol li {
	line-height: 1.3em;
	padding: 3px 5px;
}

#page-content ul li {
	padding-left: 15px;
}

#page-content ol li {
	list-style-type: decimal;
	list-style-position: outside;
}

/* styled lists */
#page-content ul li {
	background: transparent url("../images/bullets/dot_gray.gif") no-repeat
		0 .6em;
} /* default list style */
#page-content ul.bullet-black li {
	background: transparent url("../images/bullets/dot_black.gif") no-repeat
		0 .6em;
}

#page-content ul.bullet-gray li {
	background: transparent url("../images/bullets/dot_gray.gif") no-repeat
		0 .6em;
}

#page-content ul.bullet-silver li {
	background: transparent url("../images/bullets/dot_gray_light.gif")
		no-repeat 0 .6em;
}

#page-content ul.bullet-blue li {
	background: transparent url("../images/bullets/dot_blue.gif") no-repeat
		0 .6em;
}

#page-content ul.bullet-green li {
	background: transparent url("../images/bullets/dot_green.gif") no-repeat
		0 .6em;
}

#page-content ul.bullet-orange li {
	background: transparent url("../images/bullets/dot_orange.gif")
		no-repeat 0 .6em;
}

#page-content ul.bullet-red li {
	background: transparent url("../images/bullets/dot_red.gif") no-repeat 0
		.6em;
}

#page-content ul.bullet-disc-black li {
	background: transparent url("../images/bullets/circle_black.gif")
		no-repeat 0 .6em;
}

#page-content ul.bullet-disc-gray li {
	background: transparent url("../images/bullets/circle_gray.gif")
		no-repeat 0 .6em;
}

#page-content ul.bullet-disc-silver li {
	background: transparent url("../images/bullets/circle_gray_light.gif")
		no-repeat 0 .6em;
}

#page-content ul.bullet-disc-blue li {
	background: transparent url("../images/bullets/circle_blue.gif")
		no-repeat 0 .6em;
}

#page-content ul.bullet-disc-green li {
	background: transparent url("../images/bullets/circle_green.gif")
		no-repeat 0 .6em;
}

#page-content ul.bullet-disc-orange li {
	background: transparent url("../images/bullets/circle_orange.gif")
		no-repeat 0 .6em;
}

#page-content ul.bullet-disc-red li {
	background: transparent url("../images/bullets/circle_red.gif")
		no-repeat 0 .6em;
}

#page-content ul.bullet-check li {
	background: transparent url("../images/bullets/check.gif") no-repeat 0
		.2em;
	padding-left: 20px;
}

/* numbered list with styling */
#page-content ol.number-pad {
	padding: 3px 5px 5px 22px;
	border-left: 1px solid #E9E9E9;
	background: transparent url("../images/bullets/ordered-background.gif")
		repeat-y 0 0;
}

#page-content ol.number-pad ol,#page-content ol.number-pad ul {
	background: none;
	margin-left: 18px;
}

#page-content ol.number-pad  li {
	padding-left: 10px;
	border-bottom: 1px dotted #D6D6D6;
}

/* list with image, title and description */
#page-content ul.post-list {
	margin-left: 0;
}

#page-content ul.post-list li {
	margin: 0 0 1em;
	padding: 0;
	background: none;
	border-bottom: 1px dotted #D6D6D6;
	font-size: 85%;
}

#page-content ul.post-list li img {
	float: left;
	margin: 0 8px 1em 0;
	border: 1px solid #C6C6C6;
}

#page-content ul.post-list li a {
	display: block;
	font-weight: bold;
	margin-bottom: .3em;
}

/* style-less list */
#page-content ul.no-list {
	margin: 0 0 1em;
}

#page-content ul.no-list li {
	display: inline;
	margin: 0;
	padding: 0;
	background: none;
}

/* headings */
h1,h2,h3,h4,h5,h6 {
	font-weight: 800;
	line-height: 1;
	margin: 0 0 0.5em;
	padding: 0 0 0.25em;
	color: #000;
	border-bottom: 1px solid #C6C6C6;
}

h1 {
	font-size: 3em;
	font-weight: normal;
	letter-spacing: -1px;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0.75em;
}

h4 {
	font-size: 1.25em;
	margin-bottom: 0.75em;
	border-bottom: none;
}

h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1em;
	border-bottom: none;
}

h6 {
	font-size: 1em;
	font-weight: lighter;
	text-transform: uppercase;
	margin-bottom: 1em;
	border-bottom: none;
}

h2.star {
	background: transparent url("../images/icons/star.png") no-repeat 0 50%;
	padding: 0 0 0 54px;
	line-height: 48px;
	height: 40px;
}

h2.colors {
	background: transparent url("../images/icons/colors.png") no-repeat 0
		48%;
	padding: 0 0 0 54px;
	line-height: 48px;
	height: 40px;
}

h2.layout {
	background: transparent url("../images/icons/layout.png") no-repeat 0
		48%;
	padding: 0 0 0 54px;
	line-height: 48px;
	height: 40px;
}

#hidden {
	visibility: hidden;
}

/**** Page Layout and Design Styles ****/

/* layouts styles */
.one-third {
	float: right; 
	margin: 3% 10%;
}

.two-thirds {
	float: left; 
	margin-left: 3%;
}

.half-page {
	float: left;
	width: 450px;
	margin: 0 0 0 22px;
}

.full-page {
	margin: 0 0 0 22px;
} 

/* logo */
#logo {
	float: left; 
}

#logo img {
	margin: 2% 0;  
}

#logo-footer {
	float: right;
	margin-top: -20px;
	margin-bottom: 20px; 
}

/* design width and position */
.home {
	height-min: 600px;
}

#top-content,#main-content,#footer-content {
	margin: 0 auto;
	width: 967px;
	padding: 0 12px 0 11px;
}

#slideshow,#page,.home #header-graphic {
	width: 990px;
	margin: 0 -12px 0 -11px;
}

/* top */
#top {
	height: 35px;
	background: #333 url("/images/top-bg.gif") repeat-x 0 0;
	font-size: 10px;
	font-weight: bold;
	overflow: hidden; 
}

#top a:link,#top a:visited {
	color: #b2b1b1;
	text-transform: uppercase;
	text-decoration: none;
	margin-right: 15px;
}

#top a:hover,#top a:active {
	color: #fff;
}

#top-content {
	padding-top: 10px;
}

#top-content-icons {
	float: right;
	margin-top: -10px;
}

#top-content-icons a:link,#top-content-icons a:visited {
	margin-right: 0;
}

/* main page structure  */
#main {
	background: #fff url("/images/bg/bg-purple.jpg") no-repeat 50% 0;
	min-height: 650px;
}

#main-content {
	padding-bottom: 35px;
}

/* header */
#header {
	height: 107px;
}

.home #header {
	height: 119px;
}

#header-graphic {
	clear: both;
	display: none;
}

.home #header-graphic {
	display: block;
	height: 30px;
	background: transparent url("../images/header-underline.png") no-repeat
		0 0;
}

/* main menu - edit menu styles using MENU.CSS file */
.main-menu {
	float: right;
	padding: 60px 0 0 0;
}

/* content area */
#page {
	background: transparent url("../images/page-bg.png") no-repeat 0 0;
	margin-top: -11px;
}

.home #page {
	position: relative;
	z-index: 99;
}

#page-top-gap {
	height: 11px;
}

#page-content {
	min-height: 1000px;
	margin: 0 12px 0 11px;
	padding: 15px 22px 0 0;
	border-top: 10px solid #333;
	background: #fff url("../images/page-bg-repeat.gif") repeat-x 0 1px;
}

/* slideshow */
#slideshow {
	height: 337px;
	margin-top: -4px;
	overflow: hidden;
} 

/* footer */
#footer {
	padding: 16px 0 0;
	background: transparent url("../images/bottom-bg.gif") repeat-x 0 0;
	font-size: 11px;
	font-weight: bold;
	color: #b2b1b1;
}

#footer-content {
	padding-top: 21px;
	padding-bottom: 21px;
}

#footer-content a:link,#footer-content a:visited {
	color: #fff;
	text-decoration: none;
}

#footer-content a:hover,#footer-content a:active {
	text-decoration: underline;
}

/* sub-navigation menu */
#page-content ul.sub-navigation {
	padding: 0;
	margin-left: 0;
}

#page-content ul.sub-navigation li {
	background: none;
	padding: 0;
	margin: 0;
}

.sub-navigation a {
	display: block;
	padding: 5px 4px 2px;
	border-bottom: 1px dotted #c6c6c6;
	font-size: 1.1em;
	text-decoration: none;
}

/* portfolio */
.gallery {
	margin-left: -22px;
	height: auto;
}

.page-content {
	height: auto;
}

.two-thirds .gallery {
	width: 630px;
} /* stupid IE (version 7 only)  */
.gallery-item {
	float: left;
	width: 293px;
	margin: 0 0 22px 22px;
}

.gallery-item h5,.gallery-item p {
	margin: 0 0 .65em;
	padding: 0;
}

.gallery-image {
	width: 291px;
	height: 163px;
	border: 1px solid #C6C6C6;
}

.gallery-description {
	height: 110px;
	margin: 8px 0 0;
	overflow: hidden;
}

/* blog */
.blog {
	
}

.post-summary {
	margin: 0 0 2em;
}

.post-date {
	float: right;
	color: #fff;
	font: 18px Arial, Helvetica, Garuda, sans-serif;
	line-height: 0.9;
	text-transform: uppercase;
}

.post-date .month {
	
}

.post-date .day {
	
}

.post-title {
	margin-bottom: .3em;
	border-bottom: 0;
}

.post-details {
	margin: 0 0 1px;
	padding: 4px 6px;
	font-family: Verdana, Arial, Helvetica, Garuda, sans-serif;
	font-size: 85%;
	color: #aaa;
	background: #333;
}

.post-details a,.post-details a:link,.post-details a:visited,.post-details a:hover,.post-details a:active
	{
	color: #C6C6C6;
	font-weight: bold;
}

.post-image {
	width: 606px;
	height: 115px;
	border: 1px solid #C6C6C6;
	margin: 0 0 .5em;
}

.post-description {
	
}

/* contact */
#comment-form fieldset legend {
	display: none;
}

#comment-form label {
	display: block;
}

#comment-form .text-input,#comment-form .text-area {
	background: #f6f6f6;
	border: 1px solid #C6C6C6;
	color: #333;
	height: 22px;
	padding: 4px 0 0 2px;
	width: 325px;
}

#comment-form .text-area {
	height: 150px;
	font-family: Arial, Helvetica, Garuda, sans-serif;
}

#comment-form input.error,#comment-form textarea.error {
	background-color: #ffc;
	border-color: #EF7E58;
}

#comment-form label.error {
	color: #f33;
	font: bold 10px Verdana, Arial, Helvetica, Garuda, sans-serif;
}

/* login */
.login-container {
	width: 400px;
	height: 200px;
	background: transparent url("../images/login-bg.png") no-repeat 0 0;
	color: #C6C6C6;
	overflow: hidden;
}

.login-container p {
	margin: 0 0 15px;
}

.login-container fieldset legend {
	display: none;
}

.login-container form {
	padding: 53px 0 0 30px;
}

.login-container label {
	display: block;
	float: left;
	width: 100px;
	overflow: hidden;
	font-size: 16px;
	font-weight: bold;
}

.login-container .login-input {
	color: #999;
	font-size: 16px;
	width: 230px;
	border: 0;
	margin: 2px 0;
	cursor: text;
	background: transparent none;
}

#login-close {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	height: 43px;
	width: 43px;
	text-indent: -999px;
	overflow: hidden;
	background: transparent url("../images/spacer.gif") repeat 0 0;
}

.login-submit {
	width: 105px;
	height: 30px;
	margin: 2px 0 0 95px;
	overflow: hidden;
	border: 0;
	background: transparent url("../images/spacer.gif") repeat 0 0;
	cursor: pointer;
}
 
#crear_torneo { 
	margin: 4% 7%;
	cursor: pointer;  
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #050505;
    padding: 6px 20px;
    background: -moz-linear-gradient(
        top,
        #f200ff 0%,
        #ffbf00);
    background: -webkit-gradient(
        linear, left top, left bottom, 
        from(#f200ff),
        to(#ffbf00));
    -moz-border-radius: 64px;
    -webkit-border-radius: 64px;
    border-radius: 64px;
    border: 3px solid #472847;
    -moz-box-shadow:
        4px 3px 5px rgba(000,000,000,1),
        inset 2px 0px 1px rgba(255,255,255,0.3);
    -webkit-box-shadow:
        4px 3px 5px rgba(000,000,000,1),
        inset 2px 0px 1px rgba(255,255,255,0.3);
    box-shadow:
        4px 3px 5px rgba(000,000,000,1),
        inset 2px 0px 1px rgba(255,255,255,0.3);
    text-shadow:
        -1px 1px 3px rgba(000,000,000,0.9),
        0px 1px 0px rgba(255,255,255,0.2); 
} 

tr { 
	border: 1px solid #ccc; 	
}

td { 
	/* Behave  like a "row" */
	border: none; 
	width: 215px;
	text-align: center;
} 
 
table {  
	border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee; 
}
th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
	width: 250px;
	text-align: center;
}
td, th { 
	padding: 6px; 
	border: 1px solid #ccc;  
}

#ranking_container {
	margin: 5% 2%;
}

.sub-navigation, .game_filter {
	list-style: none;
	font-weight: bold;
	text-decoration: none;
}

#ranking_container {
	float: left;
	width: 60%;
}

.game_filter {
	float: right;
	text-align: center;
	width: 30%;
}   

.selected_apunto {
	background-color: red;
} 


#part_list {
	margin: 1%;
	color: red;
	font-weight: bold;
	text-align: center;
}

.muestra_part {
	margin: 1%;
	border: 2px solid black;
}

.oculta_part {
	visibility: hidden;

.form-control {
 margin-bottom: 10px; 

