
/*** ESSENTIAL STYLES ***/

.main-menu {
	position:relative;
	z-index:99;}

.main-menu, .main-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.main-menu {
	line-height:	1.0;
}
.main-menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.main-menu ul li {
	width:			100%;
}
.main-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.main-menu li {
	float:			left;
	position:		relative;
}
.main-menu a {
	display:		block;
	position:		relative;
}
.main-menu li:hover ul,
.main-menu li.sfHover ul {
	left:			0;
	top:			2.35em; /* match top ul list item height */
	z-index:		99;
}
ul.main-menu li:hover li ul,
ul.main-menu li.sfHover li ul {
	top:			-999em;
}
ul.main-menu li li:hover ul,
ul.main-menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.main-menu li li:hover li ul,
ul.main-menu li li.sfHover li ul {
	top:			-999em;
}
ul.main-menu li li li:hover ul,
ul.main-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** Skin Options ***/
.main-menu {
	float: left;
}
.main-menu a {
	padding: .6em .9em;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration:none;
}
.main-menu a, .main-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color: #fff;
}
.main-menu li {
	margin-left: 5px;
}
.main-menu li li {
	background: #333 none;
	margin-left: 0;
}
.main-menu li li li {
	background: #2A2A2A none;
}
.main-menu li.current li a {
	background-image: none;	/* prevents hover bg from showing in sub-menu items */
}
.main-menu li:hover, .main-menu li.sfHover{
	outline:		0;
}
.main-menu li:hover a, .main-menu li.sfHover a,
.main-menu a:focus, .main-menu a:hover, .main-menu a:active,
.main-menu li:hover span.rnd, .main-menu li.sfHover span.rnd {
	background: transparent url("../images/transparent-333.png") repeat 0 0;
}
/* sub-menu style */
.main-menu li:hover li, .main-menu li.sfHover li,
.main-menu a:focus, .main-menu a:hover, .main-menu a:active {
	background-image: none;
}
/* sub-menu element style */
.main-menu li li a, .main-menu li li a:visited {
	color: #999;
	text-transform: none;
	font-weight: normal;
	padding-top: .5em;
	padding-bottom: .5em;
}
/* sub-menu element hover style */
.main-menu li:hover li:hover, .main-menu li.sfHover li.sfHover,
.main-menu li li a:focus, .main-menu li li a:hover, .main-menu li li a:active {
	background: #111;
}


/*** arrows **/
.main-menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-000.png') no-repeat -10px -100px;
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.65em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.main-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.main-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.main-menu ul a:focus > .sf-sub-indicator,
.main-menu ul a:hover > .sf-sub-indicator,
.main-menu ul a:active > .sf-sub-indicator,
.main-menu ul li:hover > a > .sf-sub-indicator,
.main-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	/*
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
	border-radius: 17px;
	*/
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

/*** Rounded Corners (the hard way) ***/
.main-menu li span.rnd {
	display: block;
	margin: 0 1px;
	padding: 1px 0 0;
}

/*** Active State ***/
.main-menu li.current span.rnd, .main-menu li.current a {
	background: transparent url("../images/transparent-white.png") repeat 0 0;
}