
<template name="chat">
    <div id="chat">
        <input type="button" id="showchat" class="btn btn-primary" value="Chat"></input>
        <div id="boxchat" style="display:none">
        	<div id="headerchat">
        		<h4 id="nameChat"> {{chatName}} </h4>
        		<input type="button" id="hidechat" value="X">
        	</div>
        	<div id="contentchat">
        		{{> messages}}
        	</div>
        	<div id="msgchat">
        		{{> input}}
        	</div>
    	</div>
    </div>
</template>

<template name="messages">
	{{#each messages}}
	<p class="msg">
	<strong>{{getUsername user_id}} : <strong>  
	{{msg}} <br>
	</p>
	{{/each}}
</template>

<template name="input">
	<input type="text" id="message">
	<div id="loginError" style="display:none">
    	Debes registrarte.
    	<input type="button" id="hidelogerror" value="X">
  	</div>
</template>