<template name="juegos">
	{{#if show}}
		<div class="full-page">
			<h5 id = "hidden">Juegos disponibles en la plataforma</h5>
			<h2>¡Nuestros juegos!</h2>
			<div class="gallery">
				{{#each juegos}}
					<div class="gallery-item">
						<h3>{{name}}</h3>
						<img src="{{logo_src}}" class="gallery-image" alt="{{logo_alt}}" />
						{{#if editar}}
							<input type="button" class="edit_game" class="btn cancel" value="Editar el info del juego">
						{{/if}}
						<div class="gallery-description">
							<h5>{{title_desc}}</h5>
							<p>{{description}}</p>
						</div>			
						{{#if showEditGame}}
				  			{{> editGame}}
						{{/if}}
			  		</div>
				{{/each}}
	  		</div>
		</div>
	{{/if}} 
</template>

<template name="gamecontainer"> 
  <div id="gamecontainer"> 
	  {{>idnAlien}}
	  {{>idnFroot}}
	  {{>idnClarca}}
  </div>
</template>

<template name="idnClarca"> 
  <canvas id='klarki' width='320' height='480'></canvas>
</template>

<template name="idnAlien"> 
  <canvas id='gamecanvasAlien' width='320' height='480'></canvas>
</template>

<template name="idnFroot"> 
	  <div id="gameFrootcontainer" class="span7">

<canvas id="gameFrootcanvas" width="640" height="480" class="gameFrootlayer"> </canvas>
  <div id="scorescreen" class="gameFrootlayer">
	<img id="togglemusic" src="images/icons/sound.png" onclick="gameFroot.toggleBackgroundMusic();">
	<img src="images/icons/prev.png" onclick="gameFroot.restartLevel();">
	<span id="score">Score: 0</span>
  </div>
  
  <div id="gameFrootstartscreen" class="gameFrootlayer">
	<img src="images/icons/play.png" alt="Play gameFroot" onclick = "gameFroot.showLevelScreen();"><br>
	<img src="images/icons/settings.png" alt="Settings">
  </div>
  
  <div id="levelselectscreen" class="gameFrootlayer">
  </div>
  
  <div id="loadingscreen" class="gameFrootlayer">
	<div id="loadingmessage"></div>
  </div>
  
  <div id="endingscreen" class="gameFrootlayer">
	<div>
	  <p id="endingmessage">The Level Is Over Message</p>
	  <p id="playcurrentlevel" onclick="gameFroot.restartLevel();"><img src="images/icons/prev.png"> Replay Current Level</p>
	  <p id="playnextlevel" onclick="gameFroot.startNextLevel();"><img src="images/icons/next.png"> Play Next Level </p> 
	  
	  <p id="returntolevelscreen"onclick="gameFroot.showLevelScreen();"><img src="images/icons/return.png"> Return to Level Screen</p>
	</div>
</div> 
	 
</template>


<template name="editGame">
  {{#with game}}
	<div class="mask"> </div>
		<div class="modal">
		
		  <div class="modal-header">
			<button type="button" class="close cancel">&times;</button>
			<h3>Editar el juego</h3>
		  </div>   
			   
		  <div class="modal-body">
			<label>Nombre: <br><input type="text" id="name" class="title span5" value={{name}}></label>
			<label>Título de la descripción: <br><input type="text" id="title_desc"  value={{title_desc}}></label>
			<label>Descripción: </label> <textarea id="description" class="description span5">{{description}}</textarea> 
			<label>URL de la imagen: <input type="text" id="logo_src" class="title span5" value="{{logo_src}}"><br></label>
			<label>Init Function: <input type="text" id="wrapf" class="title span5" value="{{wrapf}}"><br></label>
		  </div>
		  
		  <div class="modal-footer">
			<a href="#" class="btn cancel">Cancelar</a>
			<a href="#" class="btn btn-primary save">Salvar</a>
		  </div>
		</div>
	</div>
  {{/with}}
</template>
