<template name="juegos"> {{#if show}}

<div class="full-page">
	<h5>Juegos disponibles en la plataforma</h5>

	<div class="gallery">
		{{#each juegos}}

		<div class="gallery-item">
			<h3>{{name}}</h3>
			<img src="{{logo_src}}" class="gallery-image" alt="{{logo_alt}}" />
			</a>
			<div class="gallery-description">
				<h5>{{title_desc}}</h5>
				<p>{{description}}</p>
			</div>
		</div>
		{{/each}}
	</div>
</div>


{{> alieninvasion}}

 {{/if}} 
 
 </template>



<template name="alieninvasion"> 
	<canvas id='gamealien' width='320' height='480'></canvas>
</template>