<template name="torneos">
	{{#if show}}
		<div id = "torneos_container">
			<h1>Creación de torneos</h1>
			<input type="button" id="crear_torneo" value="Crear Torneos"> 
			{{#if showCreateDialog}}
				{{> createDialog}}
			{{else}} <!--para que salga debajo sino sale a un lado el boton crear_torneo-->
				<p></p>
			{{/if}} 
			
		</div>
			<div class="two-thirds"> 
				<div class="blog">
					{{#each torneo}}
						<div class="post-summary">
							<h3 class="post-title">{{title}}</h3>
							<h5>Juego: {{game}}</h5>
							<div class="post-details"> 
								<span class="date">Disponible desde {{date_start}}</span>
								<span class="date">hasta {{date_finish}}</span> 
								(creado por {{user_create}})
							</div>
							<img src={{pic}} class="post-image" alt="sample image" width="606" height="115" />
							<div class="post-description">
								<p>{{description}}</p>
								<input type="button" class="{{_id}}" id = "participantes" value="{{participantes _id}}">
								{{#if currentUser}}
									<input type="button" id="{{_id}}" class = "{{clase_Apuntada _id getUserId}}" value="{{apunto _id getUserId}}">
									<div id = "{{_id}}" class = "{{muestra_part _id}}">
										{{#each lista_participantes _id}}
											<div id = "part_list">{{getUsername id_user}}</div>
										{{/each}}
									</div>
								{{else}}
									<i>Sign for add to this championship.</i>  
								{{/if}} 
								<p></p> 
							</div>
						</div>
					{{/each}}
				</div>
			</div>   
			<div class="one-third">
				<h3>Juegos</h3> 
				<ul class="sub-navigation">
					{{#each juegos}}
						<li class = "sortBy"><a href="#" class="{{name}}">{{name}}</a></li>
					{{/each}}
				</ul>         
				<input type="button" id="mostrar_torneos" value="Mostrar todos"> 
			</div>                     
			
	{{/if}}
</template> 

<template name="createDialog">
	<div class="mask"> </div>
		<div class="modal">
			<div class="modal-header">
				<button type="button" class="close cancel">&times;</button>
				<h3>Add Championship</h3>
			</div>        
			<div class="modal-body">
				{{#if error}}
					<div class="alert alert-error">{{error}}</div>
				{{/if}}
				<p>Title <input type="text" id="title" class="title span5"></p>
				<p>Juego: 
					<select id="game" name="Juego">
						<option selected value="elige"> Elige una opción</option>
						{{#each juegos}}
							<option value="{{name}}">{{name}}</option>  
						{{/each}}
					</select>
				</p>
				<p>Date Start: <input type="text" id="date_start"></p>
				<p>Date Finish: <input type="text" id="date_finish"></p>
				<p>Description: <textarea id="description" class="description span5"></textarea> </p>
				<p>URL Imagen: <input type="text" id="pic"</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn cancel">Cancel</a>
				<a href="#" class="btn btn-primary save">Add Championship</a>
			</div>
		</div>
	</div>
</template>


