
<template name="torneos">
	{{#if show}}
		{{#if currentUser}}
			<h3 class="post-title">Creación de torneos</h3> 
			<input type="button" id="crear_torneo" value="Crear Torneos"> 
		{{else}}
			<i>Sign in for create new championship.</i>
		{{/if}}
		{{#if showCreateDialog}}
			{{> createDialog}}
		{{else}} <!--para que salga debajo sino sale a un lado el boton crear_torneo-->
			<p></p>
		{{/if}}
		<div class="two-thirds">
			<div class="blog">
		{{#each torneo}}
				<div class="post-summary">
					<h3 class="post-title">{{title}}</h3>
					<div class="post-details">
						<div class="post-date">
							<span class="date">Fecha inicio: {{date_start}}</span>
							<span class="date">Fecha final: {{date_finish}}</span>
						</div>
						Posted by <a href="#">{{user_create}}</a> in <a href="#">{{game}}</a> |<a href="#"></a>
					</div>
					<img src="/images/content/demo-only/logo-browsers.jpg" {{banner}} class="post-image" alt="sample image" width="606" height="115" />
					<div class="post-description">
						<p>{{description}}</p>
						<a href="#">Participantes</a>
						{{#if currentUser}}
							<input type="button" value="I'm going!"
							class="btn btn-small rsvp_yes {{maybeChosen "yes"}}">
						{{else}}
							<i>Sign for add to this championship.</i>
						{{/if}}				
					</div>
				</div>
			{{/each}}
			</div>
		</div>
		
		<div class="one-third">
			<h3>Juegos</h3>
			<ul class="sub-navigation">
				{{#each juegos}}
				<li><a href="#">{{name}}</a></li> 
				{{/each}}
			</ul>
			<br/>		
		</div>
		<!-- END: Page content -->			
		<div class="clear"><!-- add to the end of each page to help extend container (or, optional: after a group of layout elements) --></div>
		</div>
	{{/if}}
</template> 

<template name="createDialog">
	<div class="mask"> </div>
		<div class="modal">
			<div class="modal-header">
				<button type="button" class="close cancel">&times;</button>
				<h3>Add Championship</h3>
			</div>	
			<div class="modal-body">
				{{#if error}}
					<div class="alert alert-error">{{error}}</div>
				{{/if}}
				<p>Title <input type="text" id="title" class="title span5"></p>
				<div class="ui-widget">
				<label>Game: </label>
 					 <select id="game">
  						  <option value="">Select one...</option>
  						  <option value="AlienInvasion">AlienInvasion</option>
  						  <option value="Clarcassone">Clarcassone</option>
  						  <option value="FrootWar">FrootWar</option>
  					</select>
				</div>
				<p>Date Start: <input type="text" id="date_start"></p>
				<p>Date Finish: <input type="text" id="date_finish"></p>

				<p>Description: <textarea id="description" class="description span5"></textarea> </p>
				<p>Imagen: <input type="file" id="pic" class="pic span5"><br></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn cancel">Cancel</a>
				<a href="#" class="btn btn-primary save">Add Championship</a>
			</div>
		</div>
	</div>
</template>