#chat {
	width: 250px;
	position: fixed;
	bottom: 5px;
	right: 3px;
}

#boxchat {
	background-color: #819FF7;
	margin: 2px;
	padding: 5px;
	border-radius:3px;
	border: #6E6E6E 1px solid;
}

#nameChat {
	float: left;
	padding: 10px;
	width: 70%;
	margin-bottom: 2px;
	font-family: Verdana;
	font-style: oblique;
	font-size: large;
}

#hidechat {
	float: right;
}

#contentchat {
	clear: both;
	background: white;
	border-radius:3px;
	padding: 10px;
	border: #6E6E6E 1px solid;
	overflow-y: scroll;
	height: 250px;
	margin-bottom: 5px;
}

#showchat {
	float: right;
}

.msg {
	border-bottom: solid 1px blue;
}

.btn-primary {
    -webkit-box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    0px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow:         0px 3px 0px rgba(0, 0, 0, 0.3);
}

.btn-primary:active {
    margin-top: 3px;
    margin-bottom: -3px;
}


