#profileContainer {
	background-color: #CEE3F6;
	border-radius: 10px;
	border: black 1px solid; 
	width: 98%;
	height: 740px;
	margin: 15px;
	padding: 5px;
}

#datosPerfilUsuario {
	background-color: white;
	margin: 10px 3px 5px 3px;
	height: 435px;
	width: 99%;
	padding: 25px 2px 5px 2px;
	border-radius: 3px;
	border: #6E6E6E 1px solid;
}

#formu {
	background-color: #E6E6E6;
	float: left;
	width: 30%;
	height: 280px;
	margin: 5px;
	padding: 15px;
	border-radius: 3px;
}

#graficoEstadisticas {
	float: left;
}

#partidas {
	clear: both;
	background-color: white;
	margin: 5px 3px 5px 3px;
	height: 170px;
	width: 99%;
	padding: 10px 2px 10px 2px;
	border-radius: 3px;
	border: #6E6E6E 1px solid;
}

