#tiendacontainer {
	width: 96%;
	margin: 15px;
	padding: 5px;
}

#shop {
	background-color: #F2F2F2;
	border: #BDBDBD 1px solid;
	border-radius: 3px;
	margin: 10px 3px 5px 3px;
	height: 435px;
	width: 95%;
	padding: 30px;
}