#users-connected {
	width: 200px;
	position: fixed;
	bottom: 5px;
	left:3px;
}

#content-users {
	background-color: #819FF7;
	width: 98%;
	border: #6E6E6E 1px solid;
	border-radius:3px;
	margin-bottom: 1px;
}

#title-users {
	float: left;
	padding: 8px 8px 6px 12px;
	width: 65%;
	margin: 0px;
	margin-bottom: 2px;
	font-family: Verdana;
	font-style: oblique;
	font-size: large;
}

#connected {
	clear: both;
	background-color: white;
	overflow-y: scroll;
	width: 90%;
	height: 450px;
	margin: 5px;
	padding: 4px;
	border-radius:3px;
	border: #6E6E6E 1px solid;
}

#hide-users-connected {
	float: right;
	margin: 3px;
}

.userConnected {
	border-bottom: solid 1px blue;
	cursor:pointer; cursor: hand;
}