<template name="ayuda">
	{{#if show}}
		<div id="helpcontainer">
			<h1 id="aaiuto">Ayuda</h1>
			<div id="aiutocont">
				<p class="azul">
					Lo primero de todo regístrate en nuestra aplicación para disfrutar de todas las ventajas de la plataforma blutbad gaming (que la hizo un erizo, muestra de lo extraordinaria que es).
				</p>
				<p></p>
				<p class="verde">
					Una vez obtenido tu username completa tu perfil con tus datos personales para que otros usuarios puedan encontrarte.
				</p>
				<p></p>
				<p class="azul">
					Díselo a tus amigos y así todos juntos podréis disfrutar online de este nuestro lugar cibernético (si no podéis quedar en persona).
				</p>
				<p></p>
				<p class="verde">
					Podrás agregarles como amigos (o enemigos) y enviarles mensajes privados (cuidadín con lo que decís que os espiamos).
				</p>
				<p></p>
				<p  class="azul">
					Para que te sea más fácil encontrarles tienes a tu disposición un buscador de usuarios por su username.
				</p>
				<p></p>
				<p class="verde">
					Como el núcleo principal de esta plataforma es viciarse como si no hubiera un mañana accede a la sección juegos y podrás disfrutar de tres increíbles juegos, lo mejor disponible en la red actualmente.
				</p>
				<p></p>
				<p class="azul">
					Alien invasion es un juego del ciberespacio al que podrás jugar si no tienes amigos. Aquí hay cabida para margis. Si quieres extras en este juego ya que te aburre su facilidad después de horas de vicio accede a premium con todos los puntos que has obtenido (que serán muchos).
				</p>
				<p></p>
				<p class="verde">
					Llegado directamente desde Pakistán, Clarcassone es el juego por excelencia de esta plataforma. Hemos contratado a ingenieros que lo han crearon especialmente para ti. Con tus amigos podrás crear partidas en el hall y jugar libremente con ellos o si prefieres pasar de tus amigos o no tienes, únete a otra, podrás conocer gente nueva.
				</p>
				<p></p>
				<p class="azul">
					Si no te gustan las frutas tenemos el juego perfecto, juega con Froot War y véngate de ellas.
				</p>
				<p></p>
				<p class="verde">
					En la sección de ranking podrás ver tus progresos y viciarte más aún para conquistar el top-three en cada uno de nuestros excepcionales juegos.
				</p>
				<p></p>
				<p class="azul">
					En la sección de torneos podrás conocer gente y jugar. Estáte atento porque cada día hay nuevos y cada vez son más divertidos.
				</p>
				<p></p>
				<p class="verde">
					No olvides écharle un vistazo a <a class="terms">Términos y Condiciones</a>.
					{{#if showterms}}
                		{{> terms}}
        			{{/if}}
				</p>
				<p></p>
				<p class="azul">
					Para cualquier duda o sugerencia contacta con nuestro servicio técnico en <a href="mailto:itziar276@live.com" target="_blank">admin@blutbad.com</a> o por teléfono al: <a href="tel:+34912345678">(+34)912345678</a>, o si lo prefiere por Skype o cualquier sistema de mensajería instantánea al <a href="callto://+34678912345"> +34 678912345</a>.
				</p>
			</div>
		</div>
	{{/if}}
</template>
