<template name="ayuda">
	{{#if show}}
		<div id="helpcontainer">
			<h1>Ayuda</h1>
			<div id="aiutocont">
				<h4 class="azul">
					Lo primero de todo regístrate en nuestra aplicación para disfrutar de todas las ventajas de la plataforma blutbad gaming (que la hizo un erizo... toda una novedad).
				</h4>
				<p></p>
				<h4 class="verde">
					Una vez obtenido tu username completa tu perfil con tus datos personales para que otros usuarios puedan encontrarte.
				</h4>
				<p></p>
				<h4 class="azul">
					Díselo a tus amigos y así todos juntos podréis disfrutar online de este nuestro lugar cibernético, si es que en persona no os podéis aguantar.
				</h4>
				<p></p>
				<h4 class="verde">
					Podrás agregarles como amigos y enviarles mensajes privados - cuidadín con lo que decís que os espiamos -.
				</h4>
				<p></p>
				<h4 class="azul">
					Para que te sea más fácil encontrarles tienes a tu disposición un buscador de usuarios por su username.
				</h4>
				<p></p>
				<h4 class="verde">
					Como el núcleo principal de esta plataforma es viciarse como si no hubiera un mañana accede a la sección juegos y podrás disfrutar de tres increíbles juegos, lo mejor disponible en la red actualmente.
				</h4>
				<p></p>
				<h4 class="azul">
					Alien invasion es un juego del ciberespacio al que podrás jugar si no tienes amigos. Aquí hay cabida para margis. Si quieres extras en este juego ya que te aburre su facilidad después de horas de vicio accede a premium con todos los puntos que has obtenido.
				</h4>
				<p></p>
				<h4 class="verde">
					Llegado directamente desde Pakistán, Clarcassone es el juego por excelencia de esta plataforma. Hemos contratado a ingenieros que lo han creado especialmente para ti. Con tus amigos podrás crear partidas en el hall y jugar libremente con ellos o si prefieres pasar de tus amigos o no tienes, únete a otra, podrás conocer gente nueva.
				</h4>
				<p></p>
				<h4 class="azul">
					Si quieres bajar de peso, Froot Wars es tu juego ideal, junto con las frutas acabarás con la comida basura. Si quieres extras en este juego ya que te aburre su facilidad después de horas de vicio accede a premium con todos los puntos que has obtenido.
				</h4>
				<p></p>
				<h4 class="verde">
					En la sección de ranking podrás ver tus progresos y viciarte más aún para conquistar el top-three en cada uno de nuestros excepcionales juegos.
				</h4>
				<p></p>
				<h4 class="azul">
					En la sección de torneos podrás conocer gente y jugar. Estate atento porque cada día hay nuevos y cada vez son más divertidos.
				</h4>
				<p></p>
				<h4 class="verde">
					No olvides echarle un vistazo a <a class="terms">Términos y Condiciones</a>.
					{{#if showterms}}
                		{{> terms}}
        			{{/if}}
				</h4>
				<p></p>
				<h4 class="azul">
					Para cualquier duda o sugerencia contacta con nuestro servicio técnico en <a href="mailto:itziar276@live.com" target="_blank">admin@blutbad.com</a> o por teléfono al: <a href="tel:+34912345678">(+34)91-2345-678</a>, o si lo prefiere por Skype o cualquier sistema de mensajería instantánea al <a href="callto://+34678912345"> +(34)678-912-345</a>.
				</h4>
			</div>
		</div>
	{{/if}}
</template>
