<template name="buscador">
	{{#if show}}
		{{#if register}}
			
			<div id="buscador-usuarios">

				<h1>Buscador</h1>

				<div id="buscador">

					<p>Introduce el nombre de un usuario para buscarlo</p>
					<input type="text" id="tags">

				</div>

				<div id="datos-usuario-encontrado">

					{{#if showprofilfriend}}
						{{> friendprofil}}
					{{/if}}

				</div>

			</div>

		{{else}}
			<div id="notRegisterDialog">
			  	<p>
			  		Debes estar registrado en la aplicación.
			  	</p>
			</div>

			<div id="noExisteAmigo" title="Buscar amigos" style="display:none">
				<p>
					No existe ese usuario.
				</p>
			</div>

		{{/if}}
	{{/if}}
</template>


<template name="friendprofil">
		<div class="modal">
			<div class="modal-header">
				<button type="button" class="close cancel">&times;</button>
				<h3>Perfil</h3>
			</div>   
		 	<div class="container">  
		 		<div id="datos-usuario-buscado">
					{{#with usuario}}
						<label>
							Nombre: {{getUsername _id}}
						</label>
					
						<label>
							Fecha de nacimiento: {{getUserDateBirth _id}}
						</label>

						<label>
							Género: {{getUserGender _id}}
						</label>
					{{/with}}
				</div>
				
				 
				{{> stadGraphic}}
			</div>
			<div class="modal-footer">
				<a href="#" class="btn cancel">Cancelar</a>
				<a href="#" class="btn btn-primary save_edit">Añadir a amigos</a>
			</div>
		</div>
	</div>	
</template>


<template name="stadGraphic">
    <div id="graficoEstadisticas" style="width: 400px; height: 360px "></div>
</template>