<template name="dashboard">
	{{#if show}}
		<h1>Dashboard</h1> 
		<input type="button" class="crea_party" value="Crea una partida Clarcassone!">
			
		<!-- div
			<p><strong>Web-RTC esta aqui para que sea mas facil depurar sus estilo css, no tener que crear una partida, despues de depurar el css o lo que sea necesario, quitar Web-RTC del Dashboard.</strong>
			</p>
			webRTC

			misInsignias
		div -->
		


	{{/if}}
</template> 



<template name="misInsignias">
<div class="well">
	<h2>Insignias conseguidas en los juegos:</h2>
    <table class="table">
      <thead>
        <tr>
      		<th>#</th>
			<th>GAME</th>
			<th>Insignias</th>
        </tr>
      </thead>
      <tbody>
      	{{#each juegos getUserId}}
      		<tr>
      		<td></td>
			<td><h4>{{gameName _id}}</h4></td>
			<td>
    		{{#each insignias _id getUserId}}
    			{{#with infoInsignia insignia_id}}
			        <div>{{description}}<img src="{{insig_image_src}}" alt="{{description}}"></div>
				{{/with}}
			{{/each}}
			</td>
			</tr>		
		{{/each}}
      </tbody>
    </table>
</div>

</template> 

