<template name="hall_torneo">

{{#if show}}
  <div class="container_hall_tor"> 
    {{#with torneo}}              
      <div class="post-summary">
        <h1>{{title}}</h1>
        <img src="{{pic}}" alt="sample image" width="606" height="115" class="imgtor"/>
        <div class="post-detailss"> 
          Creado por <a href="">{{getUsername user_create}}</a> en <a href="#">Torneos</a>  |  <a href="#">3 comments</a>
          
          <span class="badge badge-success">Empieza: {{date_start}}</span>
          <span class="badge badge-important">Termina: {{date_finish}}</span>
          <span class="{{participoClass}} apuntarme">Participantes: {{numParticip}}</span>
        </div>
        
        <div class="post-description">
          <p>{{description_long}}</p>
        </div>       
        
      </div> 
    {{/with}}

      
    {{#if multiTorneo}} 
      <div class="container">
        {{#if creador}}
          <span class="badge badge-success startTorneo">Empezar el torneo</span> 
        {{/if}}
        <h2>Etapas del torneo </h2> 
        <div id="tab" class="btn-group" data-toggle="buttons-radio">
          <a href="#" class="btn btn-large btn-info active" data-toggle="tab">Preseleccion</a>
          <a href="#" class="btn btn-large btn-info" data-toggle="tab">1/4 Final</a>
          <a href="#" class="btn btn-large btn-info" data-toggle="tab">SemiFinal</a>
          <a href="#" class="btn btn-large btn-info"  data-toggle="tab">Final</a> 
        </div>         

        <div class="span5">
          <table class="table table-striped table-condensed">
            <thead>
            <tr>
              <th>#</th>
              <th>Partida</th>
              <th>Ganador</th>                                        
            </tr>
            </thead>  
 
            <tbody>
              {{#each partidasTorneo}}
                <tr>
                  <td><span class="label label-success" id = "num">{{no}}</span></td>
                  <td>
                    <div class="span5">
                      <table class="table table-striped table-condensed">
                        <thead>
                          <tr>
                            <th>Username</th>
                            <th>Rango</th>
                            <th>Role</th>
                            <th>Status</th>                                          
                          </tr>
                        </thead>   
                        <tbody>
                          {{#each jugadores}}
                            <tr>
                              <td>{{getUsername this.user_id}}</td>
                              <td>{{userRango this.user_id}}</td>
                              <td>{{rol this.user_id ../this._id}}</td>
                              <td><span class="{{estadoUser this.estado}}">{{this.estado}}</span></td>                                       
                            </tr>
                          {{/each}}           
                        </tbody>
                      </table>
                     </div>
                  </td>                    
                  <td><span class="label label-success" id = "winner">Donna R. Folse</span></td>                                             
                </tr>
              {{/each}}
            </tbody>    
          </table>
        </div> 
      </div>   
    {{/if}}

    {{#if soloTorneo}}
      <div class="container">
        <div class="row">
          <div class="span5">
            <table class="table table-striped table-condensed">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Rango</th>
                  <th>Maxima Puntuacion</th>                                          
                </tr>
              </thead>   
              <tbody>
                {{#each soloRanking}}
                  <tr>
                    <td>{{no}}</td>
                    <td>{{getUsername user_id}}</td>
                    <td>Editor</td>
                    <td>{{maxScore}}</td>                                       
                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>                       
    {{/if}}

  </div>
{{/if}}
</template>