<template name="inbox">
	{{#if show}}
		{{#if register}}
			
			<div id="mis-mensajes">
				<h1>Mis mensajes</h1>
				<div id="content-inbox">
					<div id="inbox">
						<h3 class="title-msg">Bandeja de entrada:</h3>
						<div id="list-msg">
							{{>listMsg}}
						</div>
					</div>
					<div id="my-msg">
						<h3 class="title-msg">Mensaje recivido de X</h3>
						<div id="content-msg">
							<p>{{contentMsg}}</p>
						</div>
					</div>
				</div>
			</div>

		{{else}}
			<div id="notRegisterDialog">
			  	<p>
			  		Debes estar registrado en la aplicación.
			  	</p>
			</div>
		{{/if}}
	{{/if}}
</template>

<template name="listMsg">
	{{#if tienesMensajes}}
		{{#each mensajes}}
			<div class="listInbox">
				<p class="listOfMsgInbox"> Mensaje de: <strong>{{origen}}</strong></p>
			</div>
		{{/each}}
	{{else}}
		<div id"noTienesMsg">
			<p>No tienes mensajes</p>
		</div>
	{{/if}}
</template>

<template name="outbox">
	{{#if showoutbox}}
		<div id="outbox">
			<div id="outbox-header">
				<p>
					Enviar a <strong>{{toSend}}</strong>  
				</p> 
			</div>
			<textarea rows="4" cols="50" id="outbox-msg"></textarea>
			<div id="outbox-boton">
				<input type="button" id="outbox-send" class="btn btn-primary" value="Enviar">
				<input type="button" id="outbox-cancel" class="btn btn-primary" value="Cancelar">
			</div>
		</div>
		<div id="notMsg" title="Bandeja de Salida" style="display:none">
			<p>
				Debes escribir tu mensaje antes de enviar.
			</p>
		</div>
	{{/if}}
</template>