<template name="profil">
	{{#if showprofile}}
		{{#if registrado}}
		<div id="profile-container">
			<div id="formu">
				<h1>Perfil de Usuario</h1>
				<div class="container">   
					<label>
					Nombre: {{getUsername getUserId}}
					 </label>
					 <label>
           			Email: {{getUserEmail getUserId}}
           			</label>
            		<!--<input class="form-control" name="password" placeholder="New Password" type="password" />-->
            		Fecha de nacimiento: <input type="text" id="datebirth" value="{{getUserDateBirth getUserId}}">
            		<label>
            		Género: 
            		<select id="genero" name="list">
						<option selected>{{getUserGender getUserId}}</option>
						<option> Male </option>
						<option> Female</option>
					</select>							
					</label>
					<br/>
					<button class="btn btn-primary" id="save" type="submit"> Guardar los cambios</button>
				</div>
			</div>
			<br/>
			<table>
	  <thead>
        <tr>
      		<th>Juego</th>
			<th>Victorias</th>
			<th>Derrotas</th>
			<th>Nº Partidas</th>
			<th>Puntuación total</th>
        </tr>
      </thead>
      <tbody>
      {{#each scores}} 
				<tr>
				<td><h4>{{game}}</h4></td>
				<td><h4>{{win}}</h4></td>
				<td><h4>{{lose}}</h4></td>
				<td><h4>{{total}}</h4></td>
				<td><h4>{{totalScore}}</h4></td> 			 
				
			</td>
			</tr>		
		{{/each}}
      </tbody>
</table>
			(Serhii se encarga del gráfico)
			Si al final se guardan imagenes, poner el avatar
			ISI-coins si se llega ha hacer
		
		{{else}}
			<p>Debes estar registrado para ver tu perfil</p>
		{{/if}}
		</div>
	{{/if}}

</template>

