<template name="ranking">
	{{#if show}}
    <h1>Ranking</h1>
		<div class="container_ranking">
			<div class="game_filter">
				<h3>Ranking del juego</h3>
				<ul class="sub-navigation">
					{{#each juegos}}
						<li class = "sortBy"><a href="#" class="{{_id}}">{{name}}</a></li> 
					{{/each}}
				</ul> 	
				<input type="button" class = "btn" id="mostrar_ranking" value="Mostrar a los mejores!"> 
			</div> 
			
			<div id = "ranking_container">


				{{#if showIfAdmin}}
					<div class="btn-toolbar">
					    <button class="btn btn-primary fakeRanking">Fake Ranking</button>
					   
					    <button class="btn">Boton Funcional 2</button>
					</div>
				{{/if}}


    {{#if show3BestRanking}}


    	{{>sigmaGraphic}}
    	
         {{#each juegos}}
             
                <div class="well wellRanking">
                <h3>{{name}}</h3>
                            {{#if anyGamer _id}}
                            <table class="table">
                              <thead>
                                <tr>
                                    <th>#</th>
                                    <th>USER</th>
                                    <th>MAX SCORE</th> 
                                    <th>Total SCORE</th> 
                                    <th>RANGO</th> 
                                </tr>
                              </thead>


                              <tbody>
                              {{#each bestPlayers3 _id}}
                                    <tr>
                                        <td>{{No}}</td>
                                        <td><span class="{{clacc}}">{{user}}</span>
                                        <td>{{maxScore}}</td> 
                                        <td>{{totalScore}}</td> 
                                        <td>{{rango}}</td> 
                                    </tr>
                                {{/each}}
                              </tbody>
                            </table>
                        </div>
                    </div>  
                </div>
            {{else}}
				<p>Nadie ha jugado a este juego! {{name}} te esta esperando!</p>
            {{/if}}
    	
    
        {{/each}}

    {{else}}
				<div class="well">
				<h3>{{gameName}}</h3>
				{{#if anyGamerName}}
				    <table class="table">
				      <thead>
				        <tr>
			          		<th>#</th>
							<th>USER</th>
							<th>MAX SCORE</th> 
							<th>Total SCORE</th> 
							<th>RANGO</th> 
				        </tr>
				      </thead>
				      <tbody>
				      {{#each scores}} 
				        <tr>
				        	<td>{{No}}</td>
				        	<td><span class="{{clacc}}">{{user}}</span>
							<td>{{maxScore}}</td> 
							<td>{{totalScore}}</td> 
							<td>{{rango}}</td> 
						</tr>
						{{/each}}
				      </tbody>
				    </table>
				
					<div class="pagination">
					    <ul>
					        <li class="paginator"><a href="" >Prev</a></li>
					        <li><a href="">1</a></li>
					        <li><a href="">2</a></li>
					        <li><a href="">3</a></li>
					        <li><a href="">4</a></li>
					        <li><a href="">Next</a></li>
					    </ul>
					</div>
					{{else}}
						<p>Nadie ha jugado a este juego! {{gameName}} te esta esperando!</p>
					{{/if}}
				</div>
			</div>	
		</div>
	{{/if}}
{{/if}}
</template> 


<template name="sigmaGraphic">
	{{#if show}}
		<div class="sigma-parent" id="sigma-example-parent sigmaGraphicClass">
			<div class="sigma-expand sigmaGraphicClass" id="sigmaGraphic"></div>
		</div>
		<!--
			<button class="btn" id="rescale-graph">Rescale Graph</button>
			<button class="btn btn-primary drawGraphic">Crear grafo</button>
			<button class="btn btn-primary sigmaGraphicClass" id="stop-layout">Start Layout</button>
		-->
	{{/if}}
</template>

