
<template name="terms">
<div class="mask"> </div>
		<div class="modal">
			<div class="modal-header">
				<button type="button" class="close acept">&times;</button>
				<h1>Términos y Condiciones</h1>
			</div>        
			<div class="modal-body">
				<h2>PROTECCIÓN DE DATOS</h2>
				<p>
					De conformidad con la Ley Orgánica 15/1999, de 13 de diciembre, sobre Protección de datos de Carácter Personal, los datos personales que los usuarios consienten voluntariamente en facilitar, y los datos requeridos para su participación en la promoción, serán incorporados, en un fichero del que es responsabile BlutBad SL. que tiene la finalidad de gestionar la plataforma. 
				</p>
				<p>
					Si el interesado no indica lo contrario, la remisión de sus datos supone la prestación del consentimiento para el tratamiento de los mismos, así como para que BlutBad SL. o cualquier otra empresa del grupo pueda remitirle comunicaciones publicitarias o promocionales por cualquier medio, en los términos establecidos por la Ley 34/2002, de Servicios de la Sociedad de la Información y de Comercio Electrónico. En todo caso, el interesado puede, en cualquier momento, revocar el consentimiento prestado para recibir comunicaciones comerciales. 
				</p>
				<p>
					El interesado podrá en cualquier momento ejercer los derechos de acceso, rectificación, cancelación y oposición comunicándolo por escrito al domicilio social de BlutBad, Avenida de la ISI 99 P, Planta 1, 28046 Madrid, <a href="tel:+34912345678">telf (+34)912345678, </a> <a href="callto://+34678912345">Skype: +34 678912345</a>
				</p>

				<h2>CONSIDERACIONES GENERALES</h2>
				<p>
					BlutBad S.L. no se hace responsable de lo que puedan publicar sus usuarios
				</p>
				<p>
					BlutBad se reserva el derecho de eliminar justificadamente a cualquier				usuario que defraude, altere o inutilice el buen funcionamiento y el transcurso normal y reglamentario de la plataforma.
				</p>
				<p>
					BlutBad excluye cualquier responsabilidad por daños y perjuicios de toda naturaleza que puedan deberse a la falta temporal de disponibilidad o de continuidad del funcionamiento de los servicios, a la defraudación de la utilidad que los usuarios hubieren podido atribuir a los mismos, y en particular, aunque no de modo exclusivo, a los fallos en el acceso a las distintas páginas y envíos de mensajes a través de Internet, o comunicaciones telefónicas habilitadas al efecto. 
				</p>
				<h2>MODIFICACIONES</h2>
				<p>
					BlutBad se reserva el derecho de efectuar cualquier cambio, suspender o ampliar sus ofertas, notificándolo con la suficiente antelación. 
				</p>
				<h2>RESOLUCIÓN DE CONTROVERSIAS</h2>
				<p>
					Para toda controversia que pudiera surgir en la interpretación y aplicación de las presentes bases, tanto BlutBad como los usuarios de esta plataforma se someten expresamente a la Jurisdicción de los Juzgados y Tribunales de Madrid capital, con renuncia a su fuero propio si lo hubiere.
				</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary acept">Aceptar</a>
			</div>
		</div>
	</div>
</template>