
<template name="usersConnected">
	{{#if estasRegistrado}}
		{{#if tienesAmigos}}
			<div id="users-connected">
				<div id="content-users" style="display:none">
					<p id="title-users"> <strong>Mis amigos</strong></p>
					<input type="button" id="hide-users-connected" class="btn btn-primary" value="X" >
					<div id="connected" >
						{{> connected}}
					</div>
				</div>
				<input type="button" id="show-users-connected" class="btn btn-primary" value="Amigos">
			</div>
		{{/if}}
	{{/if}}
</template>

<template name="connected">
	{{#each userConnected}}
		<p class="user-connected">
			<strong>{{name}}</strong>
		</p>
	{{/each}}
</template>
