
<template name="usersConnected">
	<div id="users-connected">
		<input type="button" id="hide-users-connected" class="btn btn-primary" value="X" style="display:none">
		<div id="connected" style="display:none">
			{{> connected}}
		</div>
		<input type="button" id="show-users-connected" class="btn btn-primary" value="Usuarios Conectados">
	</div>
</template>

<template name="connected">
	{{#each userConnected}}
		<p class="user-connected">
			<strong>{{username}}</strong>
		</p>
	{{/each}}
</template>
