
<template name="usersConnected">
	{{#if estasRegistrado}}
		{{#if tienesAmigos}}
			<div id="users-connected">
				<div id="content-users" style="display:none">
					<p id="title-users"> <strong>Mis amigos</strong></p>
					<input type="button" id="hide-users-connected" class="btn btn-primary" value="X" >
					<div id="connected" >
						{{> connected}}
					</div>
				</div>
				<input type="button" id="show-users-connected" class="btn btn-primary" value="Amigos">
			</div>
			<div id="dialog-outbox" title="Amigos" style="display:none">
				<p>
					<span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>
					¿Enviar mensaje?.
				</p>
			</div>
		{{/if}}
	{{/if}}
</template>

<template name="connected">
	{{#each userConnected}}
		<p class="userConnected">
			<strong>{{name}}</strong>
		</p>
	{{/each}}
</template>