

<template name="webRTC">
	{{#if show}}
		{{#if isRunning}}
			<div id="webRTC">
				<div id="myVideo"> 
					{{> my-video }}
				</div>
				<div id="remoteVideo"> 
					{{> remote-videos }}
				</div>
			</div>
		{{/if}}
			<button class="btn btn-primary" id="startWebRTC">Start WebRTC</button>
	{{/if}}
</template>



<template name="my-video">
	<h3>Video Local</h3>
    <video id="localVideo"></video>
</template>

<template name="remote-videos">
	<h3>Videos Remotos</h3>
    <div id="remotesVideos"></div>
</template>